p.a {
    border: 10px solid black;
    font-size: 20px;
   
}

p.b {
    border: 5px solid black;
    
}

p.c{
    border:2px solid black;
    

}

body{
    background-color: aquamarine;
}